@model IEnumerable<ProjetoS2B.Models.Produto>
@{
    ViewBag.Title = "Home Page";
}
@Html.ActionLink("Adiciona Novo Produto", "Index", "AddProduto")
<h2>Index</h2>


<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.GeneroProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.GeneroProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ProdutoID }) |
                @Html.ActionLink("Comprar", "", new { id = item.ProdutoID })
            </td>
        </tr>
    }

</table>