@model eCommerceS2B_2016.Models.Vendas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vendas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdVendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdVendedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdComprador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdComprador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDaVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDaVenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDaPostagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDaPostagem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VendasID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
