@model IEnumerable<eCommerceS2B_2016.Models.Vendas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdVendedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdComprador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Local)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDaVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDaPostagem)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdVendedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdComprador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Local)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDaVenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDaPostagem)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VendasID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VendasID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VendasID })
        </td>
    </tr>
}

</table>
